* {
    box-sizing: border-box;
}

#root > .header
{
    width: 100%;
    height: 9vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    float: left;
    background-image: linear-gradient(to right,	#49c500, #121212);
    position: fixed;
    top: 0;
    left: 0;
    padding-right: calc(100vw / 64 * 8);;
}

.webName
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/4;
    padding-left: 10vw;
    font-family: 'Indie Flower', cursive;
    font-size: 22.5px;
}

.menu-button
{
    grid-column: 7/8;
    grid-row: 1/4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 7.5px;
    cursor: pointer;
    z-index: 10;
}
.menu-button img
{

    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in;
    z-index: 10;
}