* {
    box-sizing: border-box;
}
.menu
{
    width: auto;
    position: absolute;
    height: auto;
    top: 12vh;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: 10;
    background-color: #fff;
    color: #121212;
}

.navigate
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}
.navigate > h1
{
    font-family: 'Indie Flower', cursive;
    font-size: 19.5px;
    overflow: hidden;
    
}
.navigate-button
{
    width: 100%;
    min-height: 64px;
    padding: 7.5px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    font-size: 25.5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    background-color: #fff;
    color: #121212;
    cursor: pointer;
    overflow: hidden;
    animation: setButton 1s;
    border: none;
    border-bottom: 1px solid #121212;
    
}

@keyframes setMenu {
    from {width: 0;}
    to {width: calc(100% - 100vw / 64 * 8 * 2);}
}
@keyframes setButton {
    from {width: 0;}
    to {width: 100%;}
}

.navigate-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 14.5px;
    margin-bottom: 5px;
}

.menu hr
{
    margin: 5px;
}
