* {
    box-sizing: border-box;
}
.messages-content
{
    width: 100%;
    height: 100%;

    display: block;
    
}
.header-shield
{
    width: 100%;

    display: block;
    
}
.messages-box
{
    width: 100%;
    max-height: calc(100% - 9vh);
    overflow: hidden;
    overflow-y: auto;
    float: left;
}
.messages-content .message
{
    width: 100%;
    min-height: 30px;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.header-shield > .recipient
{
    width: 100%;
    height: 12vh;
    display: block;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 7.5px;

}
.header-shield > .recipient > .header-person
{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: left;
    overflow: hidden;
    
    padding-left: 15px;
    padding-right: 7.5px;
}
.header-shield > .recipient > .header-action
{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;
    text-align: right;
    
    padding-right: 15px;
    padding-left: 7.5px;
}
.header-shield > .recipient span
{
    width: auto;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.message .header-message
{
    position: absolute;
    top: 5px;
    left: 15px;
    display: block;
    font-size: 14.5px;
    font-family: 'Lato', sans-serif;
}

.message .text
{
    width: 85%;
    display: block;
    float: left;
    font-size: 19.5px;
    font-family: 'Indie Flower', cursive;
}

.message > .delete
{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 10%;
    font-size: 16.5px;
    color: rgb(119, 14, 14);
    border-radius: 25px;
}
.message > .delete:hover
{
    color: red;
    font-weight: bold;
}