* {
    box-sizing: border-box;
}
.messenger-content
{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.messenger-header
{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.editMode 
{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    float: left;
}
.editMode > button
{
    padding: 7.5px;
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.editMode span
{
    margin-left: 7.5px;
    margin-right: 7.5px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messenger-header .avatar
{
    min-width: 35px;
    height: 35px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.messenger-recipient
{
    width: calc(100% - 35px);
    padding-left: 7.5px;
    float: left;
}

.messenger-content .message
{
    width: 100%;
    min-height: 64px;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    border-radius: 7.5px;
    
}

.message-recipient
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.message-user
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.messenger-content .message-recipient .options
{
    position: absolute;
    right: 15px;
    top: 0;
    height: 100%;
    padding: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    display: none;
}
.messenger-content .message-recipient:hover .options
{
    display: flex;
}
.messenger-content .message-user .options
{
    position: absolute;
    left: 15px;
    top: 0;
    height: 100%;
    padding: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    display: none;
}
.messenger-content .message-user:hover .options
{
    display: flex;
}
.messenger-content .messenger-header .options
{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.messenger-content .options
{
    border: none;
    
    padding-left: 7.5px;
    padding-right: 7.5px;
    float: left;
    border-radius: 7.5px;
}

.messenger-content .text
{
    width: 100%;
    min-height: 35px;
    font-size: 17.5px;
    font-family: 'Indie Flower', cursive;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 7.5px;
    float: left;
}
.messenger-content .message-recipient .msg-head
{
    padding: 7.5px;
    font-size: 14.5px;
    font-family: 'Indie Flower', cursive;
    float: left;
}

.messenger-content .message-user .msg-head
{
    padding: 7.5px;
    font-size: 14.5px;
    font-family: 'Indie Flower', cursive;
    float: left;
}
.messenger-content .message-user .options
{
    padding-left: 0;
}
.messenger-content .message-recipient .options
{
    padding-right: 0;
}
.msg-field
{
    width: 80%;
    height: auto;
    position: relative;
    border-radius: 7.5px;

}
.message-user .msg-field
{
    
    border: 1px solid green;
}

.message-recipient .msg-field
{
    border: 1px solid lightblue;
}

.write-box
{
    width: 100%;
    height: 70px;
    background-color: #fff;
    float: left;
    display: block;
    z-index: 5;
    border-top: 1px solid #121212;
}

.write-header
{
    width: 100%;
    height: 35px;
    float: left;
}

.write-input
{
    width: 100%;
    height: 35px;
    float: left;

}
.write-input > input
{
    height: 100%;
    width: calc(100% - 35px);
    font-size: 17.5px;
    font-family: 'Indie Flower', cursive;
    float: left;
}
.write-input > button
{
    width: 35px;
    height: 35px;
    float: left;
}

.searchMode
{
    width: 100%;
}

.searchMode > input
{
    width: 100%;
    height: 35px;
    font-size: 17.5px;
    font-family: 'Indie Flower', cursive;
}