

.page-not-found
{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.page-not-found > h1
{
    font-size: 42px;
    color: #fff;
}