.notifications-content
{
    width: auto;
    height: auto;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    top: calc(12vh + 7.5px);
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
    background-color: #fff;
    z-index: 10;
    color: #121212;

}

.notifications-header
{
    width: 100%;
    text-align: center;
    height: 3.5vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}
.notifications-row
{
    width: 100%;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    height: 5.5vh;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.notifications-header > span
{
    position: absolute;
    right: 15px;
}
.notifications-row > .recipient
{
    width: 30%;
    max-height: 19.5px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17.5px;
    padding-right: 7.5px;
    padding-left: 7.5px;
    overflow: hidden;
}
.notifications-row > .message
{
    width: 40%;
    max-height: 19.5px;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    font-size: 17.5px;
}
.notifications-row > .time
{
    min-width: 40px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 17.5px;
}