* {
    box-sizing: border-box;
}

.output
{
    width: 100%;
    height: calc(100vh - 12vh);
    margin-top: 9vh;
    overflow: hidden;
    float: left;
    background-color: #fff;
    color: #121212;
}