.profile-content
{
    width: 100%;
    height: auto;
}

.image-profile
{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-header
{
    width: 100%;
    text-align: center;
    height: 3.5vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}
.profile-row
{
    width: 100%;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    height: 5.5vh;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
}


.profile-row > span
{
    width: 50%;
    text-align: center;
}

.profile-social-icon-row
{
    width: 100%;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
    font-size: 17.5px;
    font-family: 'Indie Flower', cursive;
    overflow: hidden;
}
.profile-social-icon-row > input
{
    text-align: justify;
    font-size: 17.5px;
    font-family: 'Indie Flower', cursive;
    min-width: 100%;
    height: 35px;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 7.5px;
}
.profile-social-icon-row > span
{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.profile-social-icon-row > span > img
{
    width: 17.5px;
    height: 17.5px;
    margin-left: 7.5px;
    margin-bottom: 7.5px;
}
.profile-social-icon-row > span > .delete-button
{
    width: 17.5px;
    height: 17.5px;
    margin-left: 7.5px;
    margin-bottom: 7.5px;
    position: absolute;
    right: 15px;

}
.profile-social-icon-row .social-address
{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17.5px;
    font-family: 'Indie Flower', cursive;
    overflow: hidden;
    overflow-x: auto;
}

.profile-header > img
{
    position: absolute;
    top: -7.5px;
    right: 15px;
    width: 25px;
    height: 25px;
}
.profile-row > img
{
    position: absolute;
    top: -7.5px;
    right: 15px;
    width: 25px;
    height: 25px;
}
.profile-social-row
{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    height: 7.5vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.profile-social-column
{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.profile-social-column img
{
    width: 32px;
    height: 32px;
    
}

.profile-social-row img
{
    width: 32px;
    height: 32px;
    
}

.social-update
{
    width: 100%;
    height: 35px;
    padding-left: 30px;
    padding-right: 30px;
}
.social-update > input
{
    text-align: justify;
    font-size: 17.5px;
    font-family: 'Indie Flower', cursive;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
}
#editBtn
{
    position: absolute;
    top: -7.5px;
    right: 15px;
    width: 25px;
    height: 25px;
    z-index: 3;
}
.profile-name
{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 30px;
    font-family: 'Indie Flower', cursive;
    font-size: 22.5px;
    color: #fff;
}
.profile-buttons
{
    width: auto;
    text-align: center;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    padding-right: 7.5px;
    padding-left: 7.5px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.profile-buttons > span
{
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: auto;
    height: auto;


}
.profile-buttons button
{
    width: auto;
    height: 35px;

}