* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}
body, html
{
    width: 100vw;
    height: 100vh;
    margin: 0!important;
    padding: 0!important;
    text-align: justify;
    word-wrap: break-word;
    display: block;

    background-color: #fff;
    color: #121212;
    font-weight: 400;
    font-family: 'Lato', sans-serif;

    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
p
{
    line-height: 20pt;
}

a, button, textarea, input
{
    outline: none;
    color: #121212;
    text-decoration: none;
    line-height: 15pt;
}

a, button
{
    
    font-weight: 400;
    overflow: hidden;
}
a:hover, button:hover
{
    color: lightblue;
}
a:focus, button:focus
{
    color: #49c500;
}
a > button
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

textarea
{
    resize: none;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(232, 240, 254, 0.7);
}

input
{
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(232, 240, 254, 0.7);
}

.shield
{
    width: 100%;
    min-height: 91vh;
    padding: 5vw;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
}
hr
{
    color: #49c500;
    width: 90%;
}

.alert 
{
    position: absolute;
    width: 100%;
    min-height: 35px;
    border-radius: 2.5px;
    top: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 25.5px;
    font-weight: 500;
    z-index: 5;
    background:rgba(232, 240, 254, 0.7);
    transition: 0.7s ease-in;
    
}
.alert-message
{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.alert-success
{
    
    color: #49c500;
    transition: ease-in;
    animation-name: success;
    animation-duration: 1.5s;
    font-weight: bold;
    
}
.alert-danger
{
    color: red;
    transition: ease-in;
    animation-name: danger;
    animation-duration: 1.5s;

}
@keyframes success {
    from {color: lightblue;}
    to {color: #49c500}
}
@keyframes danger {
    from {color: lightblue;}
    to {color: red}
}

.submit-button
{
    width: 75px;
    height: 35px;

}
.right-button
{
    position: absolute;
    top: 15px;
    right: 0;
}

.shadow
{
    position: fixed;
    top: 12vh;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#121212;
    z-index: 9;
}
.addshadow
{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0);
    z-index: 9;
}

.img35
{
    width: 35px;
    height: 35px;
}

.switch-button
{
    width: 48px;
    height: 24px;
    background-color: #c1c1c1;
    align-items: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #c1c1c1;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #121212;
}
.switch
{
    text-align: right;
    justify-content: flex-end;
    position: absolute;
    top: 15%;
    bottom: 15%;
    width: 45%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 0.3s;
}